@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,700;1,6..72,400;1,6..72,700&display=swap');

:root {
    --c-accent1: #facc15;
    --c-accent2: #1992d4;
    --c-bg1: lightgray;
    --c-bg2: gray;
    --c-light: white;
    --c-shadow: rgba(180, 180, 180, 1);

    --standard-gap: 15px;

    font-family: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: auto auto auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Newsreader, serif;
}

h2 {
    padding-bottom: var(--standard-gap);
}


/*
Dashboard
*/
nav {
    display: flex;
    flex-direction: column;

    padding: var(--standard-gap);
    grid-row: 1 / -1;
    background-color: var(--c-accent2);
    min-height: 100vh;
    overflow: visible;
    z-index: 1;
    color: var(--c-light);
}
nav>div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Top part of Header */
header.status-bar {
    display: grid;
    grid-template-columns: 20px 2fr 1fr;
    gap: var(--standard-gap);

    padding: var(--standard-gap);
    background-color: var(--c-light);
    z-index: 1;
}
header.status-bar>img {
    position: relative;
    top: 6px;
}
.user-status {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--standard-gap)
}
.user-status > p {
    position: relative;
    top: 3px;
}
.project-header {
    grid-row: 1 / 3;
}

/* Bottom Part of Header */
header.status-actions {
    display: grid;
    grid-template-columns: auto auto;
    padding: var(--standard-gap);
    box-shadow: 0em 0px 5px var(--c-shadow);
    z-index: 0;
}
.user-welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: var(--standard-gap);
    align-self: start;
}
.user-welcome>p {
    padding-bottom: 0px;
}
div.user-welcome>img {
    grid-row: 1 / -1;
}
.user-action {
    justify-self: end;
    align-self: center;
}

.card {
    padding: var(--standard-gap);
    border-radius: 7px;
    background-color: white;
    box-shadow: 5px 5px 10px var(--c-shadow);
    display: grid;
    grid-auto-flow: row;
}
main>.card {
    grid-template-rows: 2rem auto auto;
}
.card>.project-icons {
    align-self: end;
    justify-self: end;
}

.deco {
    border-left: 7px solid var(--c-accent1);
}

.announcement {
    padding: var(--standard-gap)
}

section.status {

}


.content {
    display: grid;
    background-color: var(--c-bg1);
    gap: var(--standard-gap);
    padding: var(--standard-gap);
    grid-template-columns: 3fr 350px;
}

.your-projects {
    display: flex;
    flex-direction: column;
}

/*
right side aside
    Announcements
    Trending
*/
aside {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap)
}

.links-group {
    padding-top: calc(var(--standard-gap) * 3);
    display: grid;
    grid-auto-flow: row;
    gap: var(--standard-gap);
}

.announcements {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    gap: var(--standard-gap);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: auto repeat(auto-fit, minmax(500px, 1fr)); */
}


input[type="search"] {
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: var(--c-bg1);
}
input[type="search"]:active,
input[type="search"]:focus {
    border: none;
    outline: 2px solid var(--c-bg2);
}

button {
    background-color: var(--c-accent2);
    padding: calc(var(--standard-gap) / 2) var(--standard-gap);
    border: none;
    border-radius: var(--standard-gap);
    width: 5rem;
    color: var(--c-light);
    font-weight: bold;
}
button:hover {
    background-color: var(--c-accent1);
}

svg path {
    fill: var(--c-light)
}
.large {
    height: 50px;
    width: 50px;
}

a,
a:visited {
    color: var(--c-light);
    text-decoration: none;
}
a:hover {
    color: var(--c-accent1);
    transform: scale(1.1);
}
nav section h3 {
    padding-left: calc(var(--standard-gap) * 2);
    font-size: 24px;
}
nav>.logo>h1 {
    padding-left: var(--standard-gap);    
}
h3::before {
    position: relative;
    top: 4px;
    left: calc(var(--standard-gap) * 2 * -1);
}
.link-home::before {
    content: url("icon/home.svg");
}
.link-profile::before {
    content: url("icon/card-account-details-outline.svg");
}
.link-messages::before {
    content: url("icon/message.svg");
}
.link-history::before {
    content: url("icon/clock.svg");
}
.link-tasks::before {
    content: url("icon/note-multiple.svg");
}
.link-communities::before {
    content: url("icon/account-group.svg");
}
.link-settings::before {
    content: url("icon/cog.svg");
}
.link-support::before {
    content:url("icon/help-box.svg");
}
.link-privacy::before {
    content: url("icon/shield-check.svg");
}



.trending>h2 {
    padding-top: var(--standard-gap);
}
.trending-grid {
    display: grid;
    grid-template-columns: 3rem auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    column-gap: var(--standard-gap);
    row-gap: 0.8rem;
    align-items: center;
}
.trend-user>img {
    grid-row: 1 / -1;
}
.trend-user>h4 {
    padding-top: 5px;
}


.project-icons {
    padding-top: 2rem;
}